@{
    ViewData["Title"] = "Twoje konto";
}

<h2>Twoje konto</h2>

@if (User.Identity.IsAuthenticated)
{
    <p>Jesteś zalogowany jako: <strong>@User.Identity.Name</strong></p>
    <form asp-action="Logout" method="post">
        <button type="submit" class="btn btn-danger">Wyloguj się</button>
    </form>
}
else
{
    <div class="text-center mt-5">
        <h4>Musisz być zalogowany, aby dodawać testy</h4>
        <p class="lead">Proszę zalogować się lub zarejestrować, aby uzyskać dostęp do tej strony.</p>
        <a href="/Account/Login" class="btn btn-primary">Zaloguj się</a>
        <a href="/Account/Register" class="btn btn-secondary">Zarejestruj się</a>
    </div>
}
